h1 {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color : white;
  text-align: center;
  text-transform: capitalize;
}
.jump-div{
width: 50%;
margin-left: 25%;
}
p{
    color: white;
    text-align: center;
}
body{
    background-color: black;
}
.jump-img{
    border : 5px solid white;
    width: 100%;
}
